In [2]:
texto = "hola mundo"
print(texto)

hola mundo

In [3]:
a = 3
b = 5
c = a + b**3
print(c)

128

In [32]:
#Variables
numero = 10**5
cadena = "Esto es un string... ya lo sabemos"
print(cadena)
print(f'Esta cadena contiene a >>> {cadena} <<<<')

Esto es un string... ya lo sabemos
Esta cadena contiene a >>> Esto es un string... ya lo sabemos <<<<

In [7]:
#No pueden empezar con un nÃºmero

In [10]:
cadena1 = "Hola "
cadena2 = "mundo!!!"
cadena3 = cadena1 + cadena2
print(cadena3)

Hola mundo!!!

In [11]:
type(cadena)

str

In [12]:
type(3)

int

In [13]:
type(3.1)

float

In [14]:
type(3/4)

float

In [22]:
class ClaseNueva:
    def __init__(self, nombre, dni):
        self.nombre = nombre
        self.dni = dni


c = ClaseNueva("Nombre de clase", 123456)

type(c)

__main__.ClaseNueva

In [23]:
def mostrar_texto(string):
    print(string)

type(mostrar_texto)

function

In [24]:
#numeros

In [26]:
numero = 13456
decimal = 19*.3

print(decimal)
type(decimal)

5.7

float

In [27]:
print(numero + decimal)

13461.7

In [28]:
type(print)

builtin_function_or_method

In [33]:
#Conversiones de tipos de datos

In [36]:
numero = 555
type(numero)

int

In [37]:
numero = str(numero)
type(numero)

str

In [38]:
numero = int(numero)
type(numero)

int

In [40]:
decimal = 22.3
decimal = int(decimal)
type(decimal)

int

In [42]:
decimal

22