#Operadores

In [1]:
num1=10
num2=6
num3 = num1 + num2
num3

16

In [3]:
num3 = num1 - num2
num3

4

#potencia

In [5]:
num3 = num1 ** num2
num3

1000000

In [6]:
num3 = 5 ** (1/5)
num3

1.379729661461215

In [7]:
num3 = 5 ** (1/2)
num3

2.23606797749979

#modulo

In [8]:
num3 = 5 % 2
num3

1

#cociente

In [9]:
num3 = 5 // 2
num3

2

In [10]:
#Operadores de asignación

In [11]:
numero = 5
numero +=2
numero

7

In [12]:
numero -=4
numero

3

In [13]:
numero *=3
numero

9

In [14]:
numero /=3
numero

3.0

In [15]:
numero **=3
numero

27.0

In [16]:
#Operadores de comparacion

In [17]:
numero1 = 3
numero2 = 5
numero1 == numero2

False

In [18]:
numero1 != numero2

True

In [19]:
numero1 > numero2

False

In [20]:
numero1 <= numero2

True

In [21]:
cadena1 = 'hola mundo'
cadena2 = 'Hola mundo'

cadena1 == cadena2

False

In [22]:
cadena1 >= cadena2

True

In [23]:
cadena1 <= cadena2

False

In [24]:
cadena2= "hola mundo"
cadena1 == cadena2

True

In [25]:
type(cadena1)

str

In [26]:
type(cadena2)

str

In [27]:
#Operadores lógicos

In [28]:
num1 = 10
num2 = 5
num3 = 7
num4 = 8

In [31]:
(num1 > num2) and (num2<num4)

True

In [32]:
#no se puede utilizar &&

In [33]:
(num1 > num1) or (num2<num4)

True

In [34]:
(num1 > num2) xor (num2<num4)

SyntaxError: invalid syntax (<ipython-input-34-fb44b1d38b43>, line 1)

In [35]:
def xor(a,b):
    return (a and not(b)) or (not(a) and b)

In [36]:
xor(True,True)

False

In [37]:
xor(True,False)

True

In [38]:
xor(False,True)

True

In [39]:
xor(False, False)

False

In [40]:
#Operadores de identidad

In [41]:
frutas1 = ["manzana","pera"]
frutas2 = ["manzana","pera"]
frutas3 = frutas1

In [44]:
frutas3 is frutas1 #es el mismo objeto con nombres diferentes

True

In [43]:
frutas3 is frutas2

False

In [45]:
frutas3.append("banana")
frutas3

['manzana', 'pera', 'banana']

In [46]:
frutas1

['manzana', 'pera', 'banana']

In [48]:
#frutas1 se actualiza cuando frutas3 se actualiza son el mismo objeto

In [49]:
#Operadores de pertenencia

In [50]:
frutas1 = ["manzana","pera","naranja"]
frutas2 = "pera"

In [51]:
frutas2 in frutas1

True