In [3]:
#crear bdatos

In [2]:
import sqlite3

conexion = sqlite3.connect("bdatos1.db")

conexion.close()

In [4]:
#crear tablas

In [5]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("CREATE TABLE Personas (nombre TEXT, apellido TEXT, edad INTEGER)")

conexion.commit()

conexion.close()

In [6]:
#insertar datos

In [8]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("INSERT INTO Personas values('Carlos', 'Perez', 40)")

conexion.commit()

conexion.close()

In [9]:
#insertar varios datos

In [10]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

lista = [('Cesar', 'Pipi', 44), ('Maria', 'Castaña', 30), ('Pedro', 'vives', 20), ('Leonardo', 'Polera', 31)]

cursor.executemany("INSERT INTO Personas values(?,?,?)", lista)

conexion.commit()

conexion.close()

In [11]:
#consultar  datos

In [12]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("SELECT * FROM Personas")

personas = cursor.fetchall()

for persona in personas:
    print(persona)

conexion.close()

('Carlos', 'Perez', 40)
('Cesar', 'Pipi', 44)
('Maria', 'Castaña', 30)
('Pedro', 'vives', 20)
('Leonardo', 'Polera', 31)

In [13]:
#consular con where

In [16]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("SELECT * FROM Personas WHERE apellido='Perez' AND edad > 39")

personas = cursor.fetchall()

for persona in personas:
    print(persona)

conexion.close()

('Carlos', 'Perez', 40)

In [17]:
#ordenando

In [29]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("SELECT * FROM Personas WHERE edad > 30 ORDER BY edad")

personas = cursor.fetchall()

for persona in personas:
    print(persona)
conexion.close()

('Leonardo', 'Polera', 31)
('Carlos', 'Perez', 40)
('Cesar', 'Pipi', 44)

In [28]:
#borrar datos

In [30]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("DELETE FROM Personas WHERE nombre='Leonardo'")

conexion.commit()

cursor.execute("SELECT * FROM Personas ")

personas = cursor.fetchall()

conexion.close()

for persona in personas:
    print(persona)

('Carlos', 'Perez', 40)
('Cesar', 'Pipi', 44)
('Maria', 'Castaña', 30)
('Pedro', 'vives', 20)

In [31]:
#Actualizar datos

In [ ]:
conexion = sqlite3.connect("bdatos1.db")

cursor = conexion.cursor() #para poder ejecutar sql en la bdatos

cursor.execute("UPDATE INTO Personas WHERE nombre='Pedro'")

conexion.commit()

cursor.execute("SELECT * FROM Personas ")

personas = cursor.fetchall()

conexion.close()

for persona in personas:
    print(persona)