In [1]:
#indices

In [2]:
import pandas as pd

In [3]:
lista_valores = [2,5,9]
lista_indices = ['a','b','c']
serie = pd.Series(lista_valores,index=lista_indices)
serie

a    2
b    5
c    9
dtype: int64

In [5]:
serie.index #para saber el nombre de los indices

Index(['a', 'b', 'c'], dtype='object')

In [6]:
serie.index[2]

'c'

In [7]:
#LOS INDICES NO SE PUEDEN CAMBIAR

In [8]:
#ahora recuperamos los indices de un dataframe
lista_valores = [[6,7,8],[8,9,7],[8,8,8]]
lista_indices =['matematica','historia','fisica']
lista_nombres = ['mario','juan','pedro' ]

In [10]:
dataframe = pd.DataFrame(lista_valores,index=lista_indices,columns=lista_nombres)
dataframe

            mario  juan  pedro
matematica      6     7      8
historia        8     9      7
fisica          8     8      8

In [11]:
#indices:
dataframe.index

Index(['matematica', 'historia', 'fisica'], dtype='object')

In [12]:
dataframe.index[1]

'historia'

In [13]:
15.24*64

975.36