In [1]:
#Reemplazar datos en series

In [2]:
import pandas as pd

In [3]:
serie = pd.Series([1,2,3,4,5], index=list('abcde'))
serie

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
serie.replace(1,6)

a    6
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
serie

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
#para modificar de forma permanente
serie = serie.replace(1,6)
serie

a    6
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
#para pasar varios valores usamos un diccionario

In [10]:
serie.replace({2:8,3:9})

a    6
b    8
c    9
d    4
e    5
dtype: int64

In [12]:
#Renombrar indices de un dataframe

In [13]:
import numpy as np

In [14]:
valores = np.arange(9).reshape(3,3)
valores

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [15]:
indices = list('abc')
indices

['a', 'b', 'c']

In [16]:
dataframe = pd.DataFrame(valores, index=indices)
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [17]:
#cambiamos indices en mayusculas

In [18]:
indices2 = dataframe.index.map(str.upper)
dataframe.index = indices2
dataframe

   0  1  2
A  0  1  2
B  3  4  5
C  6  7  8

In [19]:
#otra forma:

In [20]:
dataframe = dataframe.rename(index=str.lower)
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [25]:
#cambiar los valores de los indices con un diccionario

In [24]:
indices2 = {'a':'f','b':'g','c':'h'}
dataframe = dataframe.rename(index=indices2)
dataframe

   0  1  2
f  0  1  2
g  3  4  5
h  6  7  8

In [26]:
#otra forma

In [ ]:
ind = {'f':'m'}
dataframe.rename(ind)