In [1]:
#tratamiento de datos
#UNION de dataframes

In [2]:
import pandas as pd

In [3]:
dataframe1 = pd.DataFrame({'c1':['1','2','3'],'clave':['a','b','c']})
dataframe1

  c1 clave
0  1     a
1  2     b
2  3     c

In [8]:
dataframe2 = pd.DataFrame({'c2':['4','5','6'],'clave':['a','c','e']})
dataframe2

  c2 clave
0  4     a
1  5     c
2  6     e

In [9]:
union_data = pd.DataFrame.merge(dataframe1,dataframe2)
union_data

  c1 clave c2
0  1     a  4
1  3     c  5

In [10]:
#podemos decirle sobre que columna haga la union

In [11]:
union_data = pd.DataFrame.merge(dataframe1,dataframe2,on='clave')
union_data

  c1 clave c2
0  1     a  4
1  3     c  5

In [15]:
#mantiene todos los valores de dt1 y agrega los de 2, muestra
#NaN cuando el dt2 no contiene alguna clave de dt1
dataframe4 = pd.DataFrame.merge(dataframe1,dataframe2,on='clave',how='left')
dataframe4

  c1 clave   c2
0  1     a    4
1  2     b  NaN
2  3     c    5

In [16]:
#mantiene todos los valores de dt2 y agrega los de 1, muestra
#NaN cuando el dt1 no contiene alguna clave de dt2
dataframe4 = pd.DataFrame.merge(dataframe1,dataframe2,on='clave',how='right')
dataframe4

    c1 clave c2
0    1     a  4
1    3     c  5
2  NaN     e  6

In [17]:
dataframe2

  c2 clave
0  4     a
1  5     c
2  6     e