In [1]:
#eliminar elementos en series y dataframes

In [2]:
import pandas as pd
import numpy as np

In [3]:
np.arange(4)
serie = pd.Series(np.arange(4), index=['a','b','c','d'])
serie

a    0
b    1
c    2
d    3
dtype: int32

In [5]:
serie.drop('c') #borrar el indice c

a    0
b    1
d    3
dtype: int32

In [6]:
#pero no se borra de la serie
serie

a    0
b    1
c    2
d    3
dtype: int32

In [8]:
#borrar de un dataframe
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [9]:
lista = np.arange(9).reshape(3,3)

In [10]:
indices = ['a','b','c']
columnas = ['c1','c2','c3']
dataframe = pd.DataFrame(lista,index=indices,columns=columnas)

In [11]:
dataframe

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8

In [12]:
dataframe.drop('b')

   c1  c2  c3
a   0   1   2
c   6   7   8

In [13]:
dataframe

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8

In [14]:
dataframe.drop('c3',axis=1)

   c1  c2
a   0   1
b   3   4
c   6   7

In [15]:
#para actualizar el dataframe y hacer cambios permanentes
dataframe = dataframe.drop('c3',axis=1)

In [16]:
dataframe

   c1  c2
a   0   1
b   3   4
c   6   7

In [17]:
#Seleccionar datos en las series
lista = np.arange(3)
indices = ['i1','i2','i3']
serie = pd.Series(lista,index=indices)
serie

i1    0
i2    1
i3    2
dtype: int32

In [18]:
serie = serie * 2
serie

i1    0
i2    2
i3    4
dtype: int32

In [19]:
#acceder a los elementos
serie['i2']

2

In [20]:
serie[1]

2

In [22]:
serie[0:3]

i1    0
i2    2
i3    4
dtype: int32

In [23]:
serie['i1':'i3']

i1    0
i2    2
i3    4
dtype: int32

In [25]:
serie[serie>3]

i3    4
dtype: int32

In [26]:
#podemos cambiar un valor
serie[serie>3] = 6